    <header>
        <div class="header__container">
            <a class="logo" href="/">
                <img src="/assets/images/icons/favicon.ico" alt="Logo">
                <span>Imperium Roma</span>
            </a>
            <nav>
                <ul id="menu" class="menu">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/services">Services</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <!-- TODO: point Domus to its subdomain (e.g. https://domus.imperiumroma.com) when live; was href="/login" -->
                    <li><a class="is-disabled" role="link" aria-disabled="true" tabindex="-1">Domus</a></li>
                </ul>
                <div class="hamburger" id="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </nav>
        </div>
    </header>
